/checkpoint/checkpoint
/checkpoint/*.data-00000-of-00001
/checkpoint/*.index
/checkpoint/*.meta
/data/darknet_weights/*.data-00000-of-00001
/data/darknet_weights/*.meta
/data/darknet_weights/*.weights

/data/logs/*.ubuntu
*.xml
/data/myData/ImageSets/Main/*.txt
/data/myData/JPEGImages/*.jpg
/data/myData/label/*.txt

/data/test_image/*.jpg
/data/test_video/*
/data/*.log
/test_res/*.jpg
/执行步骤.txt

